<header>
    <h1>Rental Cars</h1>
    <h2>Bem vindo ao sistema de gestão de locação</h2>
</header>

<%= link_to 'Categorias de Carros', car_categories_path %>
<%= link_to 'Fabricantes', manufacturers_path %>
<%= link_to 'Modelos de Carros', car_models_path %>
<%= link_to 'Locações', rentals_path %>


<h3>Playground do i18n</h3>

<p><%= I18n.translate('hello') %></p>

<%= I18n.localize(Time.zone.now)%>
<br>
<%= I18n.localize(Date.today)%>
<br>
<%= distance_of_time_in_words(12000) %>
<br>
<%= number_to_currency(10000.0) %>
