<!DOCTYPE html>
<html>
  <head>
    <title>RentalCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <% if user_signed_in? %>
        <%= link_to 'Locações', rentals_path %>
        <%= link_to 'Filiais', subsidiaries_path %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>
    <div class="container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </div>
  </body>
</html>
